.container
  form.card([formGroup]='form', (ngSubmit)='submit()')
    h1 Instructor Details
    .form-control
      label Fist Name
      input(type='text', placeholder='Fist Name of student', formControlName='fistName')
      .validation(*ngIf="form.get('fistName').invalid && form.get('fistName').touched")
        small(*ngIf="form.get('fistName').errors.required")
          | Fist Name required

    .form-control
      label Middle Name
      input(type='text', placeholder='Middle Name of student', formControlName='middleName')
      .validation(*ngIf="form.get('middleName').invalid && form.get('middleName').touched")
        small(*ngIf="form.get('middleName').errors.required")
          | Middle Name required

    .form-control
      label Last Name
      input(type='text', placeholder='Last Name of student', formControlName='lastName')
      .validation(*ngIf="form.get('lastName').invalid && form.get('lastName').touched")
        small(*ngIf="form.get('lastName').errors.required")
          | Last Name required
    button.btn([disabled]='form.invalid || form.pending', type='submit') ADD / SAVE
