p.error(*ngIf="error; else listBlock") {{error}}
ng-template(#listBlock)
  .container
    div(*ngIf="!loading; else loadingBlock")
      div(*ngIf="!!instructors && instructors.length; else noContent")
        .container
        h2 Instructors
        p Add/Edit Instructor {{instructors.lenght}}:
        table.table.table-striped
            thead
            tr
                th First Name
                th Last Name
                th DELETE
            tbody
            tr(*ngFor="let instructor of instructors; let i = index", [attr.data-index]="i") 
                td 
                  a([routerLink]='["/instructors", instructor.id]') {{instructor.fistName}}
                td 
                  a([routerLink]='["/instructors", instructor.id]') {{instructor.lastName}}
                td 
                    button.btn.btn-outline-danger(type='button', (click)='delete(instructor.id)') DELETE
ng-template(#loadingBlock)
  p Loading ...
ng-template(#noContent)
  p No content
a.btn.btn-primary([routerLink]='["/instructors/add"]', role='button') Show add form

router-outlet








    