header
  nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3
    .container
      a.navbar-brand([routerLink]='["/"]') Instructors.Api2
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse', aria-label='Toggle navigation', [attr.aria-expanded]='isExpanded', (click)='toggle()')
        span.navbar-toggler-icon
      .navbar-collapse.collapse.d-sm-inline-flex.flex-sm-row-reverse([ngClass]='{"show": isExpanded}')
        ul.navbar-nav.flex-grow
          li.nav-item([routerLinkActive]='["link-active"]', [routerLinkActiveOptions]='{ exact: true }')
            a.nav-link.text-dark([routerLink]='["/"]') Home
          li.nav-item([routerLinkActive]='["link-active"]')
            a.nav-link.text-dark([routerLink]='["/instructors"]') Instructors